.vscode

# These are the compiled files. The obj folder and mygit file are created by the Make file.
/bin/obj
/bin/mygit

# The .mygit folder that is created when running the test. 
/tests/test_repo_one/.mygit