.vscode

# These are the compiled files. The obj folder and mygit file are created by the Make file.
/bin/obj
/bin/mygit

# The .mygit folder that is created when running the test. 
/tests/test_repo_one/.mygit

# These are files I'm messing around with. I'd rather not include them since it could break the program, and I'd like to keep the
# Git history to only working version.
darr.c